<div class="wrapper">
  <div class="content">
    <div class="headerWrapper">
      <h3>CUSTOMER FILTER</h3>
      <app-button
        class="discardButton"
        text="Discard filters"
        textColor="#d932bc"
        backgroundColor="none"
        size="large"
        icon="fa fa-check"
        (clickAction)="discardFilters()"
      ></app-button>
    </div>

    <div class="customerFormWrapper">
      <div class="stepHeading">
        <p class="heading">
          1. Step
          {{
            selectedCustomerEvent?.type
              ? selectedCustomerEvent?.type
              : "Unnamed step"
          }}
        </p>
      </div>
      <form class="form-container" [formGroup]="form">
        <!-- Row for main dropdowns and buttons -->

        <!-- Main Event Type Dropdown -->
        <p-dropdown
          styleClass="dropdown"
          formControlName="eventType"
          [(ngModel)]="selectedCustomerEvent"
          [options]="customerEvents?.events"
          optionLabel="name"
          [filter]="true"
          filterBy="type"
          [showClear]="true"
          placeholder="Select an Event"
          filterPlaceholder="Filter events..."
          (onChange)="onEventTypeChange($event)"
        >
          <ng-template pTemplate="selectedItem" let-selectedOption>
            <div>
              <div>{{ selectedOption.type }}</div>
            </div>
          </ng-template>
          <ng-template let-event pTemplate="item">
            <div class="dropdownOppened">
              <div>{{ event.type }}</div>
            </div>
          </ng-template>
        </p-dropdown>

        <!-- Conditional Button to Add Event Attribute -->
        <app-button
          *ngIf="selectedCustomerEvent && !attributeButtonPressed"
          text="+ Add an event attribute"
          textColor="#17d1cb"
          backgroundColor="white"
          size="medium"
          icon="fa fa-check"
          (clickAction)="addEventAttribute()"
        ></app-button>

        <!-- Event Attributes Section (Dynamically Generated) -->
        <div formArrayName="eventAttributes">
          <div
            class="inlineGrid"
            *ngFor="
              let oneOfEventAttributes of eventAttributes.controls;
              let i = index
            "
            [formGroupName]="i"
          >
            <!-- Event Attribute Dropdown -->
            <p-dropdown
              *ngIf="attributeButtonPressed"
              formControlName="eventAttributeName"
              [options]="selectedEvent?.properties"
              optionLabel="name"
              [filter]="true"
              filterBy="property"
              [showClear]="true"
              placeholder="Select an Attribute"
              filterPlaceholder="Filter attributes..."
              (onChange)="onAttributeTypeChange($event)"
            >
              <ng-template pTemplate="selectedItem" let-selectedOption>
                <div>
                  <div>{{ selectedOption.property }}</div>
                </div>
              </ng-template>
              <ng-template let-attribute pTemplate="item">
                <div class="dropdownOppened">
                  <div>{{ attribute.property }}</div>
                </div>
              </ng-template>
            </p-dropdown>

            <!-- Conditional Event String/Number Value Selection -->
            <div
              *ngIf="attributeButtonSelected"
              formGroupName="eventAttributeStringOrNumber"
              class="attributesContainer"
            >
              <p-dropdown
                formControlName="eventStringValue"
                [options]="
                  currentlyPickedOptionForNumberOrString.number
                    ? formNumberOptions.options
                    : formStringOptions.options
                "
                optionLabel="name"
                [showClear]="true"
                [placeholder]="formNumberOptions.options[0]"
                (onChange)="onAttributeTypeChange($event)"
              >
                <ng-template pTemplate="selectedItem" let-selectedOption>
                  <div>
                    <div>{{ selectedOption }}</div>
                  </div>
                </ng-template>
                <ng-template let-dropdownOption pTemplate="item">
                  <div class="textNumberDropdown">
                    <div>{{ dropdownOption }}</div>
                  </div>
                </ng-template>

                <ng-template pTemplate="header">
                  <div class="dropdownHeader">
                    <app-button
                      text="STRING"
                      textColor="black"
                      backgroundColor="white"
                      size="large"
                      (click)="selectStringOption()"
                    ></app-button>

                    <app-button
                      text="NUMBER"
                      textColor="black"
                      backgroundColor="white"
                      size="large"
                      (click)="selectNumberOption()"
                    ></app-button>
                  </div>
                </ng-template>
              </p-dropdown>

              <!-- Input Fields for Number Values -->
              <div class="inputs gridButtons" formGroupName="eventNumberValue">
                <input
                  formControlName="eventNumberFirstField"
                  type="text"
                  pInputText
                />
                <div
                  *ngIf="pickedIntervalOrScalar.interval"
                  class="betweenContainer"
                >
                  <p>and</p>
                </div>
                <input
                  *ngIf="pickedIntervalOrScalar.interval"
                  formControlName="eventNumberSecondField"
                  type="text"
                  pInputText
                />
              </div>
            </div>
          </div>
        </div>
      </form>
      <!-- Refine More Button Positioned Below Event Parameter Dropdown -->
      <div *ngIf="displayRefine" class="refine-more-container">
        <app-button
          text="Refine more"
          textColor="#17d1cb"
          backgroundColor="white"
          size="medium"
          (clickAction)="addNewEventAttributeSection()"
        ></app-button>
      </div>
    </div>

    <div class="addStepWrapper">
      <hr />
      <div class="funnelButton">
        <div>
          <app-button
            text="+ ADD FUNNEL STEP"
            textColor="
            #17d1cb
            "
            backgroundColor="
            white
            "
            size="large"
            icon="fa fa-check"
            (clickAction)="applyFilters()"
          ></app-button>
        </div>
      </div>
    </div>
    <div class="filtersButtonWrapper">
      <app-button
        text="Apply filters"
        textColor="black"
        backgroundColor="
        #e3ce29
        "
        size="large"
        icon="fa fa-check"
        (clickAction)="applyFilters()"
      ></app-button>
    </div>
  </div>
</div>
