.wrapper {
  position: relative;
  min-height: 100vh;
  position: relative;
  background-color: white;
}

.content {
  background-color: #eeeeee;
  padding: 20px;
  padding-bottom: 30px;
  margin: 10px;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.7);
}

.headerWrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #eeeeee;
}

.discardButton {
  align-self: center;
}

.customerFormWrapper {
  background-color: white;
  min-height: 30vh;
}

.addStepWrapper {
  background-color: white;
  min-height: 5vh;
}

hr {
  margin: 0 1vw;
  border: solid 1px;
  border-color: rgba(179, 170, 170, 0.384);
}

.filtersButtonWrapper {
  margin-top: 40px;
}

.funnelButton {
  text-align: center;
  margin-top: 20px;
  padding-bottom: 40px;
  width: 100%;
}

.dropdown {
  min-width: 40vw;
}

.formStepsWrapper {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.wholeForm {
  display: flex;
  flex-wrap: wrap;
  align-items: center; /* Aligns items vertically in the center */
  padding: 12px;
  padding-top: 0px;
}

.dropdowns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: self-end;
}

.inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.dropdowns .p-dropdown {
  flex: 1;
  margin-right: 10px;
}

.dropdowns .p-dropdown:last-child {
  margin-right: 0;
}

.inputs input {
  flex: 1;
  margin-right: 10px;
}

.inputs input:last-child {
  margin-right: 0;
}

.flexDiv {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: self-end;
}

.stepHeading {
  padding: 12px;
  padding-bottom: 0px;
}

.textNumberDropdown {
  min-width: 20vw;
}

.dropdownHeader {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.betweenContainer {
  display: flex;
  margin: 0 20px;
  flex-wrap: wrap;
}

.heading {
  margin: 0;
  margin-bottom: 12px;
}
